h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
html {
  background-color: #252323;
  color: #f5f1ed;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(255, 255, 255);
}

img {
  display: block;
  box-shadow: 8px 8px 12px 3px rgb(20, 20, 20);
}

* {
  font-family: "Merriweather", serif;
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.8) 48%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(/img/hero-piano.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.hero h3 {
  line-height: 1.5em;
  margin-bottom: 6vh;
}

.button {
  background-color: rgb(24, 95, 10);
  padding: 0.8em 1.3em;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: rgb(37, 121, 20);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

.main-section p {
  text-align: justify;
  font-size: 0.8rem;
}

.section-body,
.section-img {
  max-width: 550px;
}

.main-section:nth-child(2n) {
  background-color: #2b2929;
}

.section-title {
  font-size: 1.6rem;
  line-height: 3em;
  font-weight: 600;
}

.main-section p {
  line-height: 1.7em;
  font-weight: 300;
  margin-bottom: 1.5em;
}

section img {
  border-radius: 5px;
}

.kontakt {
  display: flex;

  background-color: #2b2929;

  line-height: 2em;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.8) 48%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(/img/kontakt.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kontakt-wrapper {
  backdrop-filter: blur(2px);
  filter: grayscale(100%);
  padding: 10em 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kontakt h3 {
  font-size: 1.5rem;
  line-height: 2em;
}

footer {
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  padding: 2em;
}

footer * {
  text-align: center;
}

@media screen and (min-width: 1020px) {
  .main-section {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3em;
  }

  .main-section:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .main-title h1 {
    font-size: 5rem;
  }

  .main-title h3 {
    font-size: 2rem;
  }

  .kontakt h3 {
    font-size: 2.5rem;
    line-height: 2em;
  }

  .hero {
    padding-left: 15em;
    justify-content: flex-start;
  }

  .kontakt div {
    font-size: 1.4rem;
    line-height: 1.6em;
  }

  .main-section {
    gap: 9em;
    padding: 6em;
  }

  .section-body,
  .section-img {
    max-width: 700px;
    flex: 1 1 50%;
  }

  .main-section p {
    text-align: justify;
    font-size: 1rem;
  }

  .kontakt h3 {
    font-size: 3rem;
    line-height: 2em;
  }
}
